@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slick-dots {
    bottom: 20px !important; /* Adjust the position */
}
  
.slick-dots li button:before {
    font-size: 12px !important; /* Adjust size */
    color: #bfbfbf !important; /* Default dot color */
    opacity: 0.5 !important;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
.slick-dots li.slick-active button:before {
    color: #eeb16c !important; /* Change active dot color */
    opacity: 1 !important;
}

/* Style for both arrows */
.slick-prev, .slick-next {
    z-index: 10;
    width: 40px;
    height: 40px;
  }
  
  /* Customizing the left (previous) arrow */
.slick-prev:before {
    color: #eeb16c !important; /* Change arrow color */
    font-size: 30px !important;
    position: relative;
    right: -45px !important;
    opacity: 1 !important; /* Ensure visibility */
}
  
  /* Customizing the right (next) arrow */
.slick-next:before {
    color: #eeb16c !important; /* Change arrow color */
    font-size: 30px !important;
    position: relative;
    right: 50px !important; /* Adjust position */
    opacity: 1 !important; /* Ensure visibility */
}
  